.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

.custom-animation {
  animation: zoom 15s;
  width: 100%;
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}
